* {
	box-sizing: border-box;
	line-height: 200%;
}

body {
	background-color: #000000;
	letter-spacing: -1px !important;
}

button {
	border: 0;
}

h2{
	color: rgb(130, 13, 153) !important;
	letter-spacing: -1px !important;
}

a {
	text-decoration: none;
	color: #ffffff;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}

a:hover{
	text-decoration: none;
	color: #f56bab !important;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}

header form {
	display: inline;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}

header {
	position: fixed;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 70px;
	box-shadow: 0 0 10px #000000;
	background-color:rgb(130, 13, 153);
	opacity: 0.9;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}

header button {
	float: left;
	font-size: 20px;
	color: #ffffff;
	height: 100%;
	min-width: 150px;
	padding: 0 15px;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}


#all-articles {
	background-color: #000000 !important;
	border-radius: 6px;
	color: #ffffff !important;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}

#all-articles:hover {
	background-color: #f56bab !important;
	color: #ffffff !important;
	border-radius: 6px;
	opacity: 0.9;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}


#saved-articles {
	background-color: #000000 !important;
	border-radius: 6px;
	color: #ffffff !important;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}


#saved-articles:hover {
	background-color: #f56bab !important;
	color: #ffffff !important;
	border-radius: 6px;
	opacity: 0.9;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}

#refresh-articles {
	background-color: #000000 !important;
	border-radius: 6px;
	color: #ffffff !important;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}

#all-articles:hover, #saved-articles:hover, #refresh-articles:hover {
	background-color: #f56bab !important;
	color: #ffffff !important;
	border-radius: 6px;
	opacity: 0.9;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}

#search-input {
	float: right;
	padding: 5px;
	font-size: 15px;
	min-width: 200px;
	border-radius: 6px;
	margin-top: 10px;
	margin-right: 5%;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}

#search-submit {
	float: right;
	height: 80%;
	margin-top: 10px;
	height: 63%;
	margin-right: 10px;
	Color: rgb(130, 13, 153) !important;
	border-radius: 6px;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}

#search-submit:hover {
	float: right;
	height: 80%;
	margin-top: 10px;
	height: 63%;
	margin-right: 10px;
	background-color: #f56bab !important;
	Color: #ffffff !important;
	border-radius: 6px;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}

#sitename {
	float: left;
	padding: 15px 11px;
	height: 100%;
	background-color: rgb(130, 13, 153);
	font-size: 23px;
	font-weight: bold;
	color: #ffffff;
	opacity: 0.7;
	letter-spacing: -1px !important;
	font-family: 'Roboto Condensed', sans-serif !important;
}

#cover {
	width: 100%;
	background: linear-gradient(
		rgba(245, 9, 194, 0.877), 
		rgba(134, 4, 58, 0.753)),
		url(../images/cover.gif) !important;
}

.story-body {
	margin: auto;
	width: 95%;
	min-height: 200px;
	box-shadow: 0 0 10px #aaa;
	background-color: #ffffff;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}

.story-body h2 {
	background-color: rgb(130, 13, 153);
	letter-spacing: -1px !important;
	font-family: 'Roboto Condensed', sans-serif !important;
}

.story-body a {
	float: left;
	display: block;
	width: 77%;
	color: #ffffff;
	padding-left: 10px;
	letter-spacing: -1px !important;
	font-family: 'Roboto Condensed', sans-serif !important;
}

.story-body button {
	display: inline;
	min-width: 128px;
	background-color: #000000;
	color: #ffffff;
	font-weight: bold;
	font-size: 22px;
	border-radius: 6px;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}

.story-body button:hover {
	background-color: #f56bab;
	box-shadow: 0 0 10px #ffffff;
	border-radius: 6px;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}

.story-body summary {
	float: left;
	width: 80%;
	padding: 0px 20px;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}

.story-body img {
	display: inline-block;
	width: 200px;
	letter-spacing: -1px !important;
}

.message {
	width: 100%;
	border-radius: 5px;
	box-shadow: 0 0 10px #aaa;
	margin: auto;
	text-align: center;
	padding: 40px 90px;
	color: #aaa;
	background-color: #ffffff;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}

#addnote {
	display: none;
	justify-content: center;
	align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(130, 13, 153);
	z-index: 4;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}

#note {
	padding: 0 20px 20px 20px;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}

#note-displayer {
	width: 700px;
	background-color: #ffffff;
	z-index: 5;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}

#note-displayer h2 {
	background-color:rgb(130, 13, 153);
	color: #ffffff;
	padding: 0 20px;
	margin: 0;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}

#note-displayer h3 {
	padding: 0 20px;
	margin: 0;
	background-color: rgb(130, 13, 153);
	color: #ffffff;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}

#note-displayer label {
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}

#note-displayer button {
	min-width: 128px;
	background-color: rgb(130, 13, 153);
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
	margin: 0 10px;
	border-radius: 5px;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}

#note-displayer button:hover {
	background-color: #f56bab;
	box-shadow: 0 0 10px #ffffff;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}

#note-title {
	width: 100%;
	margin: 0 0 10px 0;
	padding: 5px;
	font-size: 15px;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}

#note-body {
	width: 100%;
	padding: 5px;
	font-size: 15px;
	letter-spacing: -1px !important;
	font-family: 'Roboto', sans-serif !important;
}

#container {
	margin-bottom: 200px;
	letter-spacing: -1px !important;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 10px;
	width: 100%;
	text-align: center;
	background-color:rgb(130, 13, 153);
	color: #ffffff;
	font-size: 15px;
	border-top: 8px solid #f56bab;
	opacity: 0.7;
	z-index: 3;
	letter-spacing: -1px !important;
	font-family: 'Roboto Condensed', sans-serif !important;
}